<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="com.android.vending.BILLING" />

    <application>
        <activity
            android:name="com.superwall.sdk.paywall.view.SuperwallPaywallActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.NoActionBar"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:exported="false" />

        <activity
            android:name="com.superwall.sdk.debug.DebugViewActivity"
            android:exported="false" />

        <activity
            android:name="com.superwall.sdk.debug.localizations.SWLocalizationActivity"
            android:exported="false" />

        <activity
            android:name="com.superwall.sdk.debug.SWConsoleActivity"
            android:exported="false" />
    </application>

</manifest>
